{% extends 'base.html.twig' %}

{% block title %}Perfil de Usuario - {% endblock %}

{% block body %}
    <h1>Perfil de usuario</h1>

    {{ include('usuario/_form.html.twig', {'button_label': 'Actualizar'}) }}

    {{ include('usuario/_delete_form.html.twig') }}
{% endblock %}
