{% extends 'base.html.twig' %}

{% block title %}Crear Usuario - {% endblock %}

{% block body %}
    <h1>Crear nuevo usuario</h1>

    {{ include('usuario/_form.html.twig') }}

    <a href="{{ path('usuario_index') }}">Volver al listado</a>
{% endblock %}
